#logo{
	opacity:0.85;
	padding:5px 10px;
}
.navbar-at-start{
	background-color:#4f91f9;
	background-image:none;
	border-bottom:1px solid rgba(255,255,255,0.5);
	box-shadow:none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
	background-image:none;
	background-color:transparent;
	box-shadow:none;
	color:rgba(255,255,255,1);
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	color:rgba(255,255,255,0.85);
	font-size:12pt;
	font-family:Helvetica Neue;
	font-weight:bold;
	letter-spacing:1px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color:#ffffff;
	background-color:rgba(190,190,190,0.6);
	transition:all 0.4s;
}
.navbar-default .navbar-nav>li>a{
	color:rgba(255,255,255,0.85);
	font-size:10pt;
	font-family:Helvetica Neue;
	font-weight:bold;
	letter-spacing:1px;
}
.navbar-default .navbar-toggle{
	border-color:#ffffff;
}
#mainpicture {
	width:100%;
}
.selectedtab {
	color:#ffffff;
}
.page-footer{
	background-color:#4f91f9;
	color:#ffffff;
	font-family:avenir;
	font-size:12pt;
	text-align:center;
	padding:10px;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:rgba(255,255,255,0.85);
}
#header-contact{
	background-size:cover;
	background-image:url("Pictures/WaterPicture.png");
	text-align:center;
	background-position:right;
	height:100%;
}
#envelope{
	width:50%;
}
#resume{
	color:rgba(255,255,255,0.85);
	font-family:avenir;
	font-size:13pt;
	text-align:center;
}
#email{
	color:rgba(255,255,255,0.85);
	font-family:avenir;
	font-size:13pt;
	opacity:0.75;
}
#email:hover{
	color:rgba(255,255,255,1);
	opacity:1;
}
#header-about{
	background-size:cover;
	background-image:url("Pictures/Background2.jpg");
	text-align:center;
	background-position:center;
	min-height:600px;
	position:relative;
}
#top-about-me-container{
	min-height:600px;
	display:table;
}
#top-about-me-table{
	display:table-cell;
	vertical-align:middle;
}
#top-about-me-table-cell{
	min-height:350px;
	text-align:center;
	margin:5% 5% 2% 5%;
	background-color:rgba(255,255,255,0.85);
	border-radius:30px;
	font-family:avenir;
	font-size:12pt;
	padding:5%;
}
#top-about-me-picture{
	width:30%;
	border-radius:10%;
	min-height:150px;
	min-width:150px;
}
#top-about-me-description{
	text-align:left;
	padding:10px 0px 0px 0px;
}
#about-me-title{
	color:#ffffff;
	text-align:center;
	font-size:30pt;
	font-family:avenir;
	background-color:#4f91f9;
}
#about-me-title-text{
	margin:0px;
	padding:10px;
}
.thumbnail-row{
	text-align:center;
	font-family:avenir;
	font-size:24pt;
	color:white;
}
#thumbnail1-image{
	background-size:cover;
	background-image:url("Pictures/France.jpg");
	text-align:center;
	background-position:center;
	position:relative;
	min-height:270px;
	display:table;
	padding:0px;
}
#thumbnail1-text{
	display:table-cell;
	height:270px;
	vertical-align:middle;
	margin:0px;
	color:transparent;
}
#thumbnail1-text:active{
	background-color:rgba(255,255,255,0.45);
	color:#ffffff;
	transition:all 0.4s;
}
#thumbnail1-text p{
	font-size:11pt;
}
#thumbnail2-image{
	background-size:cover;
	background-image:url("Pictures/Skiing.png");
	text-align:center;
	background-position:center;
	position:relative;
	min-height:270px;
	display:table;
	padding:0px;
}
#thumbnail2-text{
	display:table-cell;
	height:270px;
	vertical-align:middle;
	margin:0px;
	color:transparent;
}
#thumbnail2-text:hover{
	background-color:rgba(255,255,255,0.45);
	color:#ffffff;
	transition:all 0.4s;
}
#thumbnail2-text p{
	font-size:11pt;
}
#thumbnail3-image{
	background-size:cover;
	background-image:url("Pictures/Guitar.jpg");
	text-align:center;
	background-position:50% 15%;
	position:relative;
	min-height:270px;
	display:table;
	padding:0px;
}
#thumbnail3-text{
	display:table-cell;
	height:270px;
	vertical-align:middle;
	margin:0px;
	color:transparent;
}
#thumbnail3-text:hover{
	background-color:rgba(255,255,255,0.45);
	color:#ffffff;
	transition:all 0.4s;
}
#thumbnail3-text p{
	font-size:11pt;
}
#thumbnail4-image{
	background-size:cover;
	background-image:url("Pictures/LegoManAssembly.jpg");
	text-align:center;
	background-position:50% 20%;
	position:relative;
	min-height:270px;
	display:table;
	padding:0px;
}
#thumbnail4-text{
	display:table-cell;
	height:270px;
	vertical-align:middle;
	margin:0px;
	color:transparent;
}
#thumbnail4-text:hover{
	background-color:rgba(255,255,255,0.45);
	color:#ffffff;
	transition:all 0.4s;
}
#thumbnail4-text p{
	font-size:11pt;
}
#thumbnail5-image{
	background-size:cover;
	background-image:url("Pictures/Appalachia.jpg");
	text-align:center;
	background-position:50% 20%;
	position:relative;
	min-height:270px;
	display:table;
	padding:0px;
}
#thumbnail5-text{
	display:table-cell;
	height:270px;
	vertical-align:middle;
	margin:0px;
	color:transparent;
}
#thumbnail5-text:hover{
	background-color:rgba(255,255,255,0.45);
	color:#ffffff;
	transition:all 0.4s;
}
#thumbnail5-text p{
	font-size:11pt;
}
#thumbnail6-image{
	background-size:cover;
	background-image:url("Pictures/Carnival.jpg");
	text-align:center;
	background-position:35% 60%;
	position:relative;
	min-height:270px;
	display:table;
	padding:0px;
}
#thumbnail6-text{
	display:table-cell;
	height:270px;
	vertical-align:middle;
	margin:0px;
	color:transparent;
}
#thumbnail6-text:hover{
	background-color:rgba(255,255,255,0.45);
	color:#ffffff;
	transition:all 0.4s;
}
#thumbnail6-text p{
	font-size:11pt;
}
#header-experience{
	background-size:cover;
	background-image:url("Pictures/Background.jpg");
	text-align:center;
	background-position:center;
	min-height:600px;
	position:relative;
}
#top-experience-container{
	min-height:600px;
	display:table;
}
#top-experience-table{
	display:table-cell;
	vertical-align:middle;
}
#top-experience-table-cell{
	min-height:500px;
	text-align:center;
	margin:5% 5% 2% 5%;
	background-color:rgba(255,255,255,0.85);
	border-radius:30px;
	font-family:avenir;
	font-size:12pt;
	padding:5%;
}
#top-experience-picture{
	width:30%;
	border-radius:10%;
	min-height:150px;
	min-width:150px;
}
#top-experience-description{
	text-align:left;
	padding:10px 0px 0px 0px;
}
.University-of-Connecticut-info{
	font-size:12pt;
	text-align:left;
}
#top-box-experience{
	height:50px;
	background-color:#062559;
	bottom:0;
}
#University-of-Connecticut-title{
	min-height:60px;
	background-color:#062559;
	text-align:center;
	font-family:avenir;
	font-size:30pt;
	color:#ffffff;
}
#University-of-Connecticut-picture{
	background-size:cover;
	background-image:url("Pictures/UConn.jpg");
	text-align:center;
	background-position:50% 5%;
	position:relative;
	display:table;
	padding:0px;
	height:100%;
}
.University-of-Connecticut-info{
	font-family:avenir;
	font-size:12pt;
	margin-top:10px;
}
#experience-info-container{
	display:table;
	background-color:#93bcff;
	height:100%;
}
#experience-info-table{
	display:table-cell;
	vertical-align:middle;
}
#experience-info-table-cell{
	text-align:center;
	margin:2% 2% 2% 2%;
	background-color:rgba(255,255,255,0.85);
	border-radius:30px;
	font-family:avenir;
	font-size:12pt;
	padding:20px;
}
#Sikorsky-Aircraft-Corporation-picture{
	background-size:cover;
	background-image:url("Pictures/Sikorsky.jpg");
	text-align:center;
	background-position:50% 35%;
	position:relative;
	display:table;
	padding:0px;
	height:100%;
}
#row1-experience{
	height:340px;
}
#row2-experience{
	height:430px;
}
#row3-experience{
	height:375px;
}
#row4-experience{
	height:430px;
}
.bold{
	font-weight:bold;
}
.float-right{
	float:right;
}
.left-align{
	text-align:left;
}
#Alpha-Kappa-Lambda-picture{
	background-size:cover;
	background-image:url("Pictures/AKL.jpg");
	text-align:center;
	background-position:62% 35%;
	position:relative;
	display:table;
	padding:0px;
	height:100%;
}
#Sikorsky-Aircraft-Corporation-title{
	min-height:60px;
	background-color:#4c4b4f;
	text-align:center;
	font-family:avenir;
	font-size:30pt;
	color:#ffffff;
}
#experience-info-container2{
	display:table;
	background-color:#abaaaf;
	height:100%;
}
#Alpha-Kappa-Lambda-title{
	min-height:60px;
	background-color:#570c70;
	text-align:center;
	font-family:avenir;
	font-size:30pt;
	color:#ffffff;
}
#experience-info-container3{
	display:table;
	background-color:#b28bbf;
	height:100%;
}
#MEM-title{
	min-height:60px;
	background-color:#e27f22;
	text-align:center;
	font-family:avenir;
	font-size:30pt;
	color:#ffffff;
}
#experience-info-container5{
	display:table;
	background-color:#f4d0ad;
	height:100%;
}
#MEM-picture{
	background-size:cover;
	background-image:url("Pictures/IMG_1885.jpg");
	text-align:center;
	background-position:62% 35%;
	position:relative;
	display:table;
	padding:0px;
	height:100%;
}
#Skills-title{
	min-height:60px;
	background-color:#014226;
	text-align:center;
	font-family:avenir;
	font-size:30pt;
	color:#ffffff;
}
#experience-info-container4{
	display:table;
	background-color:#a4c4b5;
	height:100%;
}
#Skills-picture{
	background-size:cover;
	background-image:url("Pictures/3DPrinterLegoMan.jpg");
	text-align:center;
	background-position:100% 60%;
	position:relative;
	display:table;
	padding:0px;
	height:100%;
}
#top-box-projects{
	height:50px;
	background-color:#d3e4ff;
	bottom:0;
}
#projects-body{
	background-color:#d3e4ff;
}
#projects-title{
	margin:30px 30px 10px 30px;
	font-family:avenir;
	font-size:16pt;
	padding:15px;
	background-color:#4f91f9;
	font-weight:bold;
	border-radius:3px;
}
#project-button1{
	margin:0px 30px;
	font-family:avenir;
	font-size:14pt;
	padding:12px 15px;
	background-color:#d3e4ff;
	border-radius:3px;
	cursor:pointer;
}
#project-button2{
	margin:0px 30px;
	font-family:avenir;
	font-size:14pt;
	padding:12px 15px;
	background-color:#d3e4ff;
	border-radius:3px;
	cursor:pointer;
}
#project-button3{
	margin:0px 30px;
	font-family:avenir;
	font-size:14pt;
	padding:12px 15px;
	background-color:#d3e4ff;
	border-radius:3px;
	cursor:pointer;
}
#project-button4{
	margin:0px 30px;
	font-family:avenir;
	font-size:14pt;
	padding:12px 15px;
	background-color:#d3e4ff;
	border-radius:3px;
	overflow:hidden;
	cursor:pointer;
}
#project-button5{
	margin:0px 30px;
	font-family:avenir;
	font-size:14pt;
	padding:12px 15px;
	background-color:#d3e4ff;
	border-radius:3px;
	cursor:pointer;
}
#project-button6{
	margin:0px 30px;
	font-family:avenir;
	font-size:14pt;
	padding:12px 15px;
	background-color:#d3e4ff;
	border-radius:3px;
	cursor:pointer;
}
#project-button7{
	margin:0px 30px;
	font-family:avenir;
	font-size:14pt;
	padding:12px 15px;
	background-color:#d3e4ff;
	border-radius:3px;
	cursor:pointer;
}
#project-button8{
	margin:0px 30px;
	font-family:avenir;
	font-size:14pt;
	padding:12px 15px;
	background-color:#d3e4ff;
	border-radius:3px;
	cursor:pointer;
}
#project-button9{
	margin:0px 30px;
	font-family:avenir;
	font-size:14pt;
	padding:12px 15px;
	background-color:#d3e4ff;
	border-radius:3px;
	cursor:pointer;
}
.project-info{
	background-color:#ffffff;
	margin:0px 30px 15px 30px;
	padding:15px;
	border-radius:3px;
	box-shadow:0px 1px 3px 0px #000;
	display:none;
}
#projects-middle-box{
	height:15px;
}
.project-title{
	text-align:left;
	margin:0px 0px 15px 0px;
	font-weight:bold;
	font-size:16pt;
	font-family:avenir;
}
.project-summary{
	text-align:left;
	margin:0px 0px 30px 0px;
	font-size:12pt;
	font-family:avenir;
}
.caption{
	text-align:center;
	margin:0px 0px 10px 0px;
	font-size:10pt;
	font-family:avenir;
}
.image-center{
	text-align:center;
}
#WebCode1-pic{
	max-width:450px;
	width:100%;
}
#WebCode2-pic{
	max-width:400px;
	width:100%;
}
#AutoTransport1-pic{
	max-width:400px;
	width:100%;
}
#AutoTransport2-pic{
	max-width:400px;
	width:100%;
}
#AutoTransport3-pic{
	max-width:400px;
	width:100%;
}
#Phil1-pic{
	max-width:500px;
	width:100%;
}
#Phil2-pic{
	max-width:500px;
	width:100%;
}
#Phil3-pic{
	max-width:500px;
	width:100%;
}
#Phil4-pic{
	max-width:500px;
	width:100%;
}
#Phil5-pic{
	max-width:500px;
	width:100%;
}
#RC1-pic{
	max-width:400px;
	width:100%;
}
#RC2-pic{
	max-width:400px;
	width:100%;
}
#RC3-pic{
	max-width:400px;
	width:100%;
}
#Print1-pic{
	max-width:400px;
	width:100%;
}
#Print2-pic{
	max-width:400px;
	width:100%;
}
#Print3-pic{
	max-width:400px;
	width:100%;
}
#Bike1-pic{
	max-width:400px;
	width:100%;
}
#Bike2-pic{
	max-width:400px;
	width:100%;
}
#CI1-pic{
	max-width:600px;
	width:100%;
}
#SIK1-pic{
	max-width:450px;
	width:100%;
}
#SIK2-pic{
	max-width:450px;
	width:100%;
}
#Arduino1-pic{
	max-width:450px;
	width:100%;
}
#Arduino2-pic{
	max-width:450px;
	width:100%;
}
#Arduino3-pic{
	max-width:450px;
	width:100%;
}
#home-pictures{
	background-size:cover;
	background-image:url("Pictures/UConnHusky.jpg");
	background-position:50% 11%;
	text-align:center;
	position:relative;
}
.full-screen{
	height:95vh;
}
#half-screen{
	height:33vh;
}
#half-screen-home{
	height:63vh;
}
#midscreen{
	padding:20px;
	font-family:avenir;
	font-size:20pt;
	font-weight:bold;
	color:#ffffff;
	background-color:rgba(79, 145, 249,0.7);
	border-radius:20px;
}
#midscreen-height{
	height:32vh;
}
#other-half-of-screen{
	height:62vh;
}
#thumbnail1-text:active{
	background-color:rgba(255,255,255,0.45);
	color:#ffffff;
	transition:all 0.4s;
}
#thumbnail2-text:active{
	background-color:rgba(255,255,255,0.45);
	color:#ffffff;
	transition:all 0.4s;
}
#thumbnail3-text:active{
	background-color:rgba(255,255,255,0.45);
	color:#ffffff;
	transition:all 0.4s;
}
#thumbnail4-text:active{
	background-color:rgba(255,255,255,0.45);
	color:#ffffff;
	transition:all 0.4s;
}
#thumbnail5-text:active{
	background-color:rgba(255,255,255,0.45);
	color:#ffffff;
	transition:all 0.4s;
}
#thumbnail6-text:active{
	background-color:rgba(255,255,255,0.45);
	color:#ffffff;
	transition:all 0.4s;
}